{% extends "base.html" %}

{% block title %}
    카트
{% endblock %}

{% block head_css %}
    <link href="{{ url_for('static', filename='statics/font-awesome-5.15.1/css/all.min.css') }}" rel="stylesheet">
{% endblock %}

{% block head_js %}
    <script>
        CSRF_TOKEN = "{{ csrf_token() }}"
    </script>
{% endblock %}

{% block above_main %}
    <div>

    </div>
{% endblock %}

{% block main %}
    <section class="section-container">
        <article class="article-container">
            <div class="board-container">
                <form method="POST" action="{{ url_for("coupons.save") }}" enctype="multipart/form-data">
                    {{ form.csrf_token }}

                    <div class="board-form">
                        <div class="form-group">
                            {{ form.code.label("쿠폰코드") }}
                            {{ form.code(class="uk-input", placeholder="쿠폰코드") }}
                        </div>
                        <div class="form-group">
                            {{ form.use_from.label("시작일") }}
                            {{ form.use_from(class="uk-input", placeholder="시작일") }}</div>
                        <div class="form-group">
                            {{ form.use_to.label("종료일") }}
                            {{ form.use_to(class="uk-input", placeholder="종료일") }}
                        </div>
                        <div class="form-group">
                            {{ form.amount.label("할인가격") }}
                            {{ form.amount(class="uk-input", placeholder="할인가격") }}
                        </div>
                        <div class="form-group">
                            {{ form.available_count.label("사용 가능횟수") }}
                            {{ form.available_count(class="uk-input", placeholder="사용 가능횟수") }}
                        </div>
                        <div class="board-form">
                            <div class="form-group">
                                {{ form.is_active.label("활성화") }}
                                {{ form.is_active(class="uk-checkbox", type="checkbox") }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2 mb-2">등록</button>
                    </div>
                </form>
            </div>
        </article>
    </section>
{% endblock %}