{% extends "base.html" %}

{% block title %}
    Index
{% endblock %}

{% block head_css %}
    <style>
        .lt {width: 50%; padding-right: 1rem}
        .rt {width: 50%; padding-right: 1rem}
    </style>
{% endblock %}

{% block content %}
    {% include 'includes/messages.html' %}
    <div contenteditable="true" style="border: solid 1px grey">

        </div>
    <section class="section-container" style="display: flex">
        <div class="rt">
            <h3>머라도</h3>
            <a href="https://www.youtube.com/playlist?list=PLXmMXHVSvS-CoYS177-UvMAQYRfL3fBtX" target="_blank">[동영상] Flask Tutorials by Pretty Printed</a><br>
            <a href="https://www.youtube.com/watch?v=bjcIAKuRiJw" target="_blank">[동영상] flask-admin roles and permission</a><br>
            <a href="https://www.youtube.com/watch?v=BIcjT2Zz4bU&list=PLXmMXHVSvS-CoYS177-UvMAQYRfL3fBtX&index=66" target="_blank">[동영상] Flask-Admin - Custom Views</a><br>
            <a href="https://www.youtube.com/playlist?list=PLHHVSHrmEkdpzLwpKFcXq4vjCedWLAzxL" target="_blank">[동영상] Flask Admin - Customizing and Login Limitation</a><br>
            <hr>
            <a href="" target="_blank"></a><br>
            <a href="" target="_blank"></a><br>
            <a href="" target="_blank"></a><br>
            <a href="" target="_blank"></a><br>
            <a href="" target="_blank"></a><br>
            <a href="" target="_blank"></a><br>
            <a href="" target="_blank"></a><br>
            <a href="" target="_blank"></a><br>
            <a href="" target="_blank"></a><br>
            <a href="" target="_blank"></a><br>
            <a href="" target="_blank"></a><br>
            <a href="" target="_blank"></a><br>

        </div>
        <div class="lt">
            <h3>이런거</h3>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar" target="_blank">BOOTSTRAP SIDEBAR : Bootstrap 4 </a><br>
            <a href="https://fontawesome.com/icons" target="_blank">Flask-Admin : Font Awesome 5 </a><br>
            <hr>
            <a href="https://www.youtube.com/watch?v=Jp9B0rY6Fxk&t=7s" target="_blank">[동영상 10분 전후] 구글 메일 3rd party 비밀번호 설정법(2단계인증)</a><br>
            "
            계정관리로 들어가서 좌측의 보안 클릭후 <span style="color: red">Google에 로그인</span><br>
            <span style="color: red">2단계인증</span> 설정후 <br>
            그아래 <span style="color: red">앱 비밀번호</span> 설정 <br>
            비밀번호 생성을 한 후 ...그것을 <span style="color: red">MAIL_PASSWORD</span>에 적용한다. "<br><br>
            <a href="" target="_blank"></a><br>
            <a href="" target="_blank"></a><br>
            <a href="" target="_blank"></a><br>
            <a href="" target="_blank"></a><br>
            <a href="" target="_blank"></a><br>
            <a href="" target="_blank"></a><br>
            <a href="" target="_blank"></a><br>
            <a href="" target="_blank"></a><br>
            <a href="" target="_blank"></a><br>
            <hr>
        </div>

    </section>
{% endblock %}

