.sign-section {padding: 15px}
.sign-section .form-container {max-width: 500px; border: solid 1px #ced6e0; border-radius: 5px; padding: 2rem; margin: 2rem auto}
.sign-section .uk-margin input {border-radius: 5px}
.sign-section .uk-margin textarea {border-radius: 5px; height: 5rem; resize: none}

.sign-section .profile-img img.img-preview {display: none}
.sign-section .profile-img img.img-preview.active {display: block}
.sign-section .profile-img.get-image img.img-preview {display: block}

.sign-section .corp-img img.img-preview {display: none}
.sign-section .corp-img img.img-preview.active {display: block}
.sign-section .corp-img.get-image img.img-preview {display: block}

.sign-section .uk-button {border-radius: 5px}

.sign-section  .uk-button.uk-button-default.custom-button-default {position: absolute; top: 5px; width: 101px; border: solid 1px #5f27cd; padding-left: 5px; padding-right: 5px}
.sign-section  .uk-button.uk-button-default.custom-button-default:hover {border: solid 1px #7d5fff;}
.sign-section  .uk-button.uk-button-default.custom-button-green {position: absolute; top: 5px; width: 101px; border: solid 1px #006400; padding-left: 5px; padding-right: 5px}
.sign-section  .uk-button.uk-button-default.custom-button-green:hover {border: solid 1px #008000;}

.section-cover-img-container .img-container.account_cover-img img {object-fit: cover}
.section-cover-img-container > button.account_cover-img-modal-delete-btn {position: absolute; top: 450px; left: 10px; cursor: pointer; border: none; width: 45px; height: 45px; border-radius: 50%; color: white; background: #7959bf !important; opacity: 0.7}
.section-cover-img-container > button.account_cover-img-modal-upload-btn {position: absolute; top: 450px; right: 10px; cursor: pointer; border: none; width: 45px; height: 45px; border-radius: 50%; color: white; background: #7959bf !important; opacity: 0.7}
body > main > section:nth-child(1) > div:nth-child(1) > div.img-container.profile-img > div > img {position:absolute; top: -100px; left: calc(50% - 85px); width: 170px; height: 170px; border: solid 8px white; border-radius: 50%; object-fit: cover}
body > main > section:nth-child(1) > div:nth-child(1) > div.nickname > p {font-size: 36px}
body > main > section:nth-child(1) > div:nth-child(2) > div {padding-top: 70px; max-width: 500px; margin: auto}
body > main > section:nth-child(1) > div:nth-child(2) > div > div.nickname {font-size: 36px; font-weight: 550; text-align: center}
body > main > section:nth-child(1) > div:nth-child(2) > div > div.level {font-size: 14px; color: #999999; text-align: right}
body > main > section:nth-child(1) > div:nth-child(2) > div > div.message {font-size: 18px; color: #2f3640; text-align: center}
body > main > section:nth-child(1) > div:nth-child(2) > div > legend {margin: 10px auto}
#corp-modal-image > div > img {width: 100%}
#corp-modal-image > div {top: 50px}

#cover-img1-preview, #cover-img2-preview, #cover-img3-preview {width: 100%; height: 250px; display: block; margin: 0 auto; object-fit: cover}

#account_cover_img_modal-container {margin-top: 55px !important; padding-top: 45px}
#account_cover_img_modal-container > form > div > div.uk-child-width-expand\@m.uk-grid > div > div.uk-margin > div.input-file-container {position: relative}
#account_cover_img_modal-container > form > div > div.uk-child-width-expand\@m.uk-grid > div > div.uk-margin > div > div > label {position: absolute; top: 6px; width: 101px; padding: 0}
#account_cover_img_modal-container > form > div > div.uk-child-width-expand\@m.uk-grid > div > div.uk-margin > div > div {width: 100%}
#account_cover_img_modal-container > form > div > div.cover-img-save-btn {float: right}
body > section > section > button.account_cover-img-modal-delete-btn.inactive {display: none}


#profile-message {border-radius: 5px; height: 5rem; resize: none}
body > main > section > div:nth-child(2) > div > div.nickname > div.profile-user-email {font-size: 16px; font-weight: 400; color: gray}
#basic-profile-update > div {top: 25px}
#basic-profile-update > div > fieldset > div:nth-child(5) > label {position: absolute; top: 6px; width: 101px; padding: 0}


#vendor-update-modal > div {top: 25px}
#vendor-update-modal > div > div:nth-child(6) > label {position: absolute; top: 6px; width: 101px; padding: 0}
.section-container .section-item .profile-container > div .uk-text-right.mt-5 > a {font-size: 14px; color: gray}
body > main > section > div:nth-child(2) > div > ul > li > div > div > div > div:nth-child(6) > div:nth-child(1) {flex: 1}