html {font-size: 1.08rem; font-weight: 400; color: #2f3640}
body, div, span, applet, object,
/*iframe,*/
h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em,
/*img, */
ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
/*ul, ol, li,*/   /* 썸머노트 ul, ol 에 에러 발생 */
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
/*figure, */
figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

* {
  box-sizing: border-box;
  border: 0;
}

hr {background-color: grey; height: 1px}
#flashes-close-btn, #flashes-close-btn2 {padding-top: 5px}
button.check-btn {padding: 3px 7px; border: solid 1px #dcdde1;font-size: 14px; color: red; max-width: 100px; cursor: pointer; border-radius: 3px}
button.check-btn:hover {background: #ecf0f1; color: #eb2f06}
.grid-section {padding: 10px}

.mt-5 {margin-top: 5px}
.mt-10 {margin-top: 10px}
.mt-15 {margin-top: 15px}
.mt-20 {margin-top: 20px}
.mb-5 {margin-bottom: 5px}
.mb-10 {margin-bottom: 10px}
.mb-15 {margin-bottom: 15px}
.mb-20 {margin-bottom: 20px}
.mr-5 {margin-right: 5px}
.mr-10 {margin-right: 10px}
.mr-15 {margin-right: 15px}
.mr-20 {margin-right: 20px}
.ml-5 {margin-left: 5px}
.ml-10 {margin-left: 10px}
.ml-15 {margin-left: 15px}
.ml-20 {margin-left: 20px}

/*.above_main {padding-top: 55px}*/

main {max-width: 1280px; margin: auto;}/*padding-top: 10px; */
.section-container {padding: 15px}
.flashes {display: flex; align-items: center; margin-bottom: 20px; width: 100%; min-height: 45px; border-radius: 5px; background: #c56cf0; color: white}
.flashes .uk-alert-close {top: 16px}

footer {
    background-color: rgba(13,37,141,0.84);
    text-align: center;
    width: 100%;
    height: 9rem;
    color: #ededef;
    padding-top: 1.8rem;
}
footer .upper {font-size: 23px;}
footer .lower {
    justify-content: center;
    display: flex;
    margin: 1rem auto;
    padding-top: 0.6rem;
    padding-bottom: 1.8rem;
    font-size: 18px;
}
footer .lower .footer-item {margin-right: 0.3rem;}